@font-face {
  font-family: "Museo_Slab";
  src: url("fonts/Museo_Slab_100.otf") format("opentype"),
    url("fonts/Museo_Slab_100italic.otf") format("opentype"),
    url("fonts/Museo_Slab_300.otf") format("opentype"),
    url("fonts/Museo_Slab_300italic.otf") format("opentype"),
    url("fonts/Museo_Slab_500.otf") format("opentype"),
    url("fonts/Museo_Slab_500italic.otf") format("opentype"),
    url("fonts/Museo_Slab_700.otf") format("opentype"),
    url("fonts/Museo_Slab_700italic.otf") format("opentype"),
    url("fonts/Museo_Slab_900.otf") format("opentype"),
    url("fonts/Museo_Slab_900italic.otf") format("opentype"),
    url("fonts/Museo_Slab_1000.otf") format("opentype"),
    url("fonts/Museo_Slab_1000italic.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Museo_Slab", sans-serif;
  color: #3c3c3c;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 54px;
}

h3 {
  color: #3971b1;
  font-size: 26px;
  line-height: 54px;
  font-weight: 300;
  letter-spacing: 0;
}

h4 {
  color: #383838;
  font-size: 28px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0;
}

p {
  color: #646464;
  font-size: 22px;
  line-height: 44px;
  font-weight: 100;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
