@font-face {
  font-family: "Museo Slab";
  src: url("../fonts/Museo_Slab_100.otf") format("opentype"),
    url("../fonts/Museo_Slab_100italic.otf") format("opentype"),
    url("../fonts/Museo_Slab_300.otf") format("opentype"),
    url("../fonts/Museo_Slab_300italic.otf") format("opentype"),
    url("../fonts/Museo_Slab_500.otf") format("opentype"),
    url("../fonts/Museo_Slab_500italic.otf") format("opentype"),
    url("../fonts/Museo_Slab_700.otf") format("opentype"),
    url("../fonts/Museo_Slab_700italic.otf") format("opentype"),
    url("../fonts/Museo_Slab_900.otf") format("opentype"),
    url("../fonts/Museo_Slab_900italic.otf") format("opentype"),
    url("../fonts/Museo_Slab_1000.otf") format("opentype"),
    url("../fonts/Museo_Slab_1000italic.otf") format("opentype");
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Museo Slab", sans-serif;
  color: #3c3c3c;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 54px;
}

h3 {
  color: #3971b1;
  font-size: 26px;
  line-height: 54px;
  font-weight: 300;
  letter-spacing: 0;
}

h4 {
  color: #383838;
  font-size: 28px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0;
}

p {
  color: #646464;
  font-size: 22px;
  line-height: 44px;
  font-weight: 100;
}

a {
  padding: 4px;
}
a,
button {
  transition: 0.5s;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}
a:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

#scrollToTopBtn p {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
}
#scrollToTopBtn:hover {
  box-shadow: none;
  transform: translateY(-5px);
}

/* GENERIC */

.header a.logo,
#footer a.logo {
  background-color: #e4e4e4;
  padding: 9px 20px 6px 23px;
  border: 1px solid #e4e4e4;
  border-bottom: 3px solid #e4e4e4;
  border-right: 3px solid #e4e4e4;
  transition: 0.5s;
  /* cursor: pointer; */
}

.header a.logo:hover,
#footer a.logo:hover {
  border: 1px solid #3c3c3c;
  border-bottom: 3px solid #3c3c3c;
  border-right: 3px solid #3c3c3c;
  border-radius: 4px;
  transition: 0.5s;
  box-shadow: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
