/* SECTION  */
.section {
  display: flex;
}

.section .contact-us-container,
.section .map-container {
  flex: 1;
}
.section .contact-us-container {
  padding: 100px;
}

.section .contact-us-container p {
  padding: 70px 0 100px;
}

.section .map-container .absolute-container-placeholder {
  position: relative;
  z-index: 1;
}
.section .map-container .absolute-container-placeholder p {
  text-align: right;
  padding-top: 15px;
  padding-right: 100px;
  color: #afafaf;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
.section .map-container .map {
  width: 100%;
  height: auto;
}

.section .map-container .pointer {
  position: absolute;
}

.section h3 {
  padding-bottom: 70px;
}
/* Form */
.section #contact-form {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.section #contact-form input,
.section #contact-form select {
  color: #8e8e8e;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  font-size: 16px;
  line-height: 32px;
  padding: 0px 25px 25px;
  transition: 0.5s;
}

.section #contact-form select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background: url("../assets/dropdown-arrow.svg") no-repeat right;
  background-size: 16px 12px;
  background-position: right 25px center;
  background-position-y: 10px;
}

.section #contact-form input:focus,
.section #contact-form select:focus {
  outline: none;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

#contact-form button[type="submit"] {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14px;
  width: fit-content;
  float: right;
  background-color: #3971b1;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.section .vl {
  margin: 150px 0px !important;
  border-left: 1px solid #f0f0f0;
}

.section .map-container .text-container {
  padding: 0 100px;
}

.section .map-container .text-container h4 {
  padding-top: 60px;
  padding-bottom: 50px;
}

.section .map-container .text-container h3 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.section .map-container .text-container p.links,
.section .map-container .text-container p.links a {
  font-size: 16px;
  line-height: 32px;
  color: #8e8e8e;
}

.section .map-container .absolute-container {
  position: absolute;
  top: 0;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .section .map-container .absolute-container-placeholder p {
    padding-right: 20px;
  }
  .section .map-container .text-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section .contact-us-container {
    padding: 50px 20px;
  }
  .section .contact-us-container p {
    padding: 30px 0 30px;
  }
  .section h3 {
    padding-bottom: 30px;
  }
  .section .map-container .text-container h4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section .map-container .text-container h3 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }

  .section .contact-us-container,
  .section .vl,
  .section .map-container .absolute-container-placeholder p {
    display: none;
  }
}
