/* SECTION  */
.section {
  display: flex;
}

/* .section .contact-us-container,
.section .map-container {
  flex: 1;
} */
.section .contact-us-container,
.section .map-container {
  width: 50%;
  box-sizing: border-box;
}
.section .contact-us-container {
  padding: 100px;
}

.section .contact-us-container p {
  padding: 70px 0 100px;
}

.section .map-container .absolute-container-placeholder {
  position: relative;
  z-index: 1;
}
.section .map-container .absolute-container-placeholder p {
  text-align: right;
  padding-top: 15px;
  padding-right: 100px;
  color: #afafaf;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
.section .map-container .map {
  width: 100%;
  height: auto;
}

.section .map-container .pointer {
  position: absolute;
}

.section h3 {
  padding-bottom: 70px;
}
/* Form */
.section #contact-form {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.section #contact-form input {
  color: #8e8e8e;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  padding: 0px 25px 25px;
  transition: 0.5s;
}

.section #contact-form input:focus {
  outline: none;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

#contact-form button[type="submit"] {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14px;
  width: fit-content;
  float: right;
  background-color: #3971b1;
  color: white;
  padding: 15px 70px;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.section .vl {
  margin: 150px 0px !important;
  border-left: 1px solid #f0f0f0;
}

.section .map-container .text-container {
  padding: 0 100px;
  position: relative;
  z-index: 2;
}

.section .map-container .text-container h4 {
  padding-top: 60px;
  padding-bottom: 50px;
}

.section .map-container .text-container h3 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.section .map-container .text-container .links .contacts p {
  display: none;
}

.section .map-container .text-container .links,
.section .map-container .text-container .links .contacts p,
.section .map-container .text-container .links a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  color: #8e8e8e;
  letter-spacing: 0;
}

.section .map-container .absolute-container {
  position: absolute;
  top: 0;
}

/* SELECT  */
.custom-select {
  position: relative;
  width: 100%;
}

.custom-select select,
.send-enquiry-btn {
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 40px;
  right: 25px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #3971b1 transparent transparent transparent;
  transition: 0.2s;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #3971b1 transparent;
  top: 30px;
  transition: 0.2s;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #8e8e8e;

  padding: 25px 25px;
  border: 1px solid transparent;
  border-color: transparent transparent #d3d3d3 transparent;
  cursor: pointer;
  user-select: none;
}

/* style items (options): */
.select-items {
  position: absolute;
  background-color: #fafafa;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
  transition: 0.5s;
}

.select-items div:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.same-as-selected::after {
  content: url("../assets/selected.svg");
  position: absolute;
  right: 20px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: start;
  align-items: start;
}
.overlay form {
  padding: 100px 20px 0;
  width: 100%;
}

.overlay form#contact-form button[type="submit"] {
  width: 100%;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: black;
}

.overlay .closebtn {
  position: absolute;
  top: 13px;
  right: 14px;
}
.overlay .closebtn img#close {
  height: 28px;
  width: 28px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .section .map-container .absolute-container-placeholder p {
    padding-right: 20px;
  }
  .section .map-container .text-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section .contact-us-container {
    padding: 50px 20px;
  }
  .section .contact-us-container p {
    padding: 30px 0 30px;
  }
  .section h3 {
    padding-bottom: 30px;
  }
  .section .map-container .text-container h4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section .map-container .text-container h3 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  .section .map-container .absolute-container-placeholder {
    z-index: 0;
  }
  .section .map-container .map {
    width: 190%;
  }
  .section .map-container .text-container {
    position: static;
  }
  .section .text-container .mobile-absolute {
    position: absolute;
    top: 125px;
    left: 0;
    padding: 0 24px 0 24px;
  }

  .section .text-container .mobile-absolute h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
  }

  .section .contact-us-container,
  .section .vl,
  .section .map-container .absolute-container-placeholder p {
    display: none;
  }

  .send-enquiry-btn {
    display: block;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 14px;
    width: 100%;
    background-color: #3971b1;
    color: white;
    padding: 14px 40px;
    border: none;
    cursor: pointer;
    margin: 50px 0 70px 0;
  }

  .section .map-container .text-container .links .contacts p {
    display: inline-block;
  }

  .section .map-container .text-container .links .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #d3d3d3;
    padding: 25px 0;
  }
}
