/* SECTION  */
.section {
  display: flex;
}

.section .contact-us-container,
.section .map-container {
  flex: 1;
}
.section .contact-us-container {
  padding: 100px;
}

.section .contact-us-container p {
  padding: 70px 0 100px;
}
.section .map-container .map {
  width: 100%;
  height: auto;
}

.section h3 {
  padding-bottom: 70px;
}
/* Form */
.section form {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.section form input,
.section form select {
  color: #8e8e8e;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  font-size: 16px;
  line-height: 32px;
  padding: 0px 25px 25px;
}

.section select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background: url("../assets/dropdown-arrow.svg") no-repeat right;
  background-size: 16px 12px;
  background-position: right 25px center;
  background-position-y: 10px;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}
